@model IEnumerable<Entry>

@foreach (var item in Model)
{
    <div class="task">
        <input asp-for="@item.IsDone" id="@item.Id" />
        <div class="stretch">@item.Text</div>
        <button class="btn-delete-task" id="@item.Id"><i class="fa-solid fa-trash"></i></button>
    </div>
}

<script src="~/js/partial.js"></script>