@model IEnumerable<Entry>

@foreach (var item in Model)
{
    <div class="flex-container">
        <div class="task-status"><input asp-for="@item.IsDone" id="@item.Id" /></div>
        <div class="stretch">@item.Text</div>
        <div class="task-delete"><button class="btn-delete" id="@item.Id">-</button></div>
    </div>
}

<script src="~/js/partial.js"></script>