@model IEnumerable<Entry>

<table>
    <tr>
        <th>Status</th>
        <th>Text</th>
        <th>List</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><input asp-for="@item.IsDone" id="@item.Id" /></td>
            <td>@item.Text</td>
            <td><button class="btn-delete" id="@item.Id">-</button></td>
        </tr>
    }
</table>

<script src="~/js/partial.js"></script>