@model ToDoList.Models.Entry

<h2>Add Task</h2>
<form asp-action="create" asp-controller="home">
    <p>
        <label asp-for="Text">Text</label><br />
        <input type="Text" asp-for="Text" />
    </p>
    <p>
        <label>Lists: </label>
        <select name="listId" asp-items="ViewBag.EntriesLists" asp-for="ListId"></select>
    </p>
    <p>
        <input type="submit" value="+" />
    </p>
</form>