@model ToDoList.Models.Entry

@{
    ViewData["Title"] = "My TODO List";
}

<h2>My TODO List</h2>
  
<div>
    <label>Lists: </label>
    <select asp-items="@ViewBag.EntriesLists" id="select-list"></select>
    <button id="btn-new-list">New List</button>
    <button id="btn-delete-list">Delete</button>
</div>

<div id="new-list" style="display: none">
    <label>Name:</label>
    <input id="list-name" type="Text" />
    <button id="btn-create-list">Add List</button>
</div>

<div id="entries-list"></div>

<div>
    <label>Text</label><br />
    <input id="task-name" type="Text" />
    <button id="create-task">Add Task</button>
</div>

<script src="~/js/home.js"></script>
