@model ToDoList.Models.Entry

@{
    ViewData["Title"] = "My TODO List";
}

<h2>My TODO List</h2>

<div class="flex-container">
    <label>Lists: </label>
    <select asp-items="@ViewBag.EntriesLists" class="stretch" id="select-list"></select>
    <button id="btn-new-list">New List</button>
    <button id="btn-delete-list">Delete</button>
</div>
<div id="new-list" class="flex-container" style="display: none">
    <input id="list-name" class="stretch" placeholder="List Name" />
    <button id="btn-create-list">Add List</button>
</div>
<div id="entries-list"></div>
<div class="flex-container">
    <input id="task-name" class="stretch" placeholder="New Task" />
    <button id="create-task">Add Task</button>
</div>

<script src="~/js/home.js"></script>
