@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ToDoList.ViewModels.IndexViewModel

<h2>My TODO List</h2>
  
<form method="get">
    <div>
        <label>Lists: </label>
        <select name="list" asp-items="Model.EntriesLists" id="selectList"></select>
    </div>
</form>
  
<div id="entriesList"></div>

<script>
    $(document).ready(function () {
        $('#selectList').change(function () {
            var selectedValue = $(this).val();
            // Отправляем AJAX-запрос на сервер
            $.ajax({
                url: '/Home/GetTasks',
                type: 'GET',
                data: { listId: selectedValue },
                success: function (data) {
                    // Обновляем список элементов на странице
                    $('#entriesList').html(data);
                },
                error: function () {
                    console.error('Ошибка выполнения запроса.');
                }
            });
        });
    });
</script>

<a asp-action="Create" asp-controller="Entry">Add Task</a>