@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ToDoList.ViewModels.IndexViewModel

<h2>My TODO List</h2>
  
<form method="get">
    <div>
        <label>Lists: </label>
        <select name="list" asp-items="Model.EntriesLists" id="selectList"></select>
    </div>
</form>
  
<div id="entriesList"></div>

<script>
    function loadEntries(listId) {
        $.ajax({
            url: '/Home/GetTasks',
            type: 'GET',
            data: { listId: listId },
            success: function (data) {
                $('#entriesList').html(data);
            },
            error: function () {
                console.error('Ошибка выполнения запроса.');
            }
        });
    }
    $(document).ready(function () {
        loadEntries($('#selectList').val());

        $('#selectList').change(function () {
            var selectedValue = $(this).val();
            loadEntries(selectedValue);
        });
    });
</script>

<a asp-action="Create" asp-controller="Entry">Add Task</a>