html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: cornflowerblue;
}

main {
    padding: 5em;
}

h2 {
    display: flex;
    justify-content: center;
    color: white;
}

.task {
    display: flex;
    background-color: white;
    padding: 0.2em;
    border: 0.1em solid grey;
    gap: 0.5em;
    border-radius: 0.5em;
}

.line {
    display: flex;
    gap: 0.5em;
}

.stretch {
    display: flex;
    flex: 1;
}

#entries-list {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.25em;
    background-color: white;
}

.window-header, .window-footer {
    display: flex;
    flex-direction:column;
    gap: 0.5em;
    background-color: lightgray;
    padding: 1em;
}

.btn-delete {
    background-color: darkred;
    color: white;
}

.btn-delete-task {
    visibility: hidden;
    background-color: transparent;
    border: none;
    color: darkred;
}

.task:hover > .btn-delete-task {
    visibility: visible;
}

.btn-create {
    background-color: darkblue;
    color: white;
}
