@model ToDoList.Models.Entry

<h2>Add Task</h2>
<form method="post">
    <p>
        <label asp-for="Text">Text</label><br />
        <input type="Text" asp-for="Text" />
    </p>
    <p>
        <label>Lists: </label>
        <select name="listId" asp-items="ViewBag.EntriesLists" asp-for="ListId"></select>
        <a asp-action="Create" asp-controller="EntriesList">+</a>
        <button asp-action="Delete" asp-controller="EntriesList">-</button>
    </p>
    <p>
        <button asp-action="Create" asp-controller="Entry" method="post">Add Entry</button>
    </p>
</form>